
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 13	*/				
.Layout13_1{ width:60%; background-color:Red;  height:600px; float:left;}						
.Layout13_header{ background-color:Yellow; width:60%; height:100px;}						