
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 21	*/				
.Layout21_1{ width:100%; background-color:Red;  height:300px; float:left; margin-top:100px;}						
.Layout21_header{ background-color:Yellow; width:100%; height:100px;}						