
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 8	*/				
.Layout8_1{ width:100%; background-color:Red;  height:400px; float:left;}						
.Layout8_2{ width:100%; background-color:Blue; float:left; height:100px; }						
.Layout8_header{ background-color:Yellow; width:100%; height:100px;}						
