
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 5	*/				
.Layout5_1{ width:20%; background-color:Red;  height:400px; float:left;}						
.Layout5_2{ width:20%; background-color:Blue; float:left; height:400px; }						
.Layout5_3{ width:60%; background-color:Green; float:left; height:400px; }						
.Layout5_header{ background-color:Yellow; width:100%; height:100px;}						