
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 22	*/				
.Layout22_1{ width:100%; background-color:Red;  height:800px; float:left;}						
.Layout22_header{ background-color:Yellow; width:0%; height:0px;}						

