
.mainbody{  margin-left: auto;margin-right: auto; width:960px}

/*	Layout 15	*/				
.Layout15_1{ width:50%; background-color:Red;  height:800px; float:left;}						
.Layout15_2{ width:50%; background-color:Blue; float:left; height:400px; }						
.Layout15_3{ width:50%; background-color:Green; float:left; height:400px; }						
.Layout15_header{ background-color:Yellow; width:100%; height:100px;}						